body{
	background-color: #000;
	color: #fff;
	font-family: arial;
}
.container{
	width: 100%;
	.cols{
		background-color: #dbdbdb;
		width: 200px;
		min-height: 200px;
		margin: 15px;
		float: left;
		img{
			display: block;
			height: 100%;
			width: 100%;
			max-width: 200px;
		}
	}
}